# Ignore the build directories
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.pdb
*.exe
*.dll
*.nupkg

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files for Visual Studio for Mac
.vscode/
.idea/